<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Let's try SRCNN</title>
    <!-- 引用插件样式 -->
    <link rel="stylesheet" href="./static/css/zyUpload.css">
</head>
<body>
<h1 style="text-align:center;">SRCNN 尝鲜体验</h1>

<div id="demo" class="demo"></div>

<script src="./static/js/jquery-1.7.2.js"></script>
<!-- 引用插件 -->
<script src="./static/js/zyFile.js"></script>
<script src="./static/js/zyUpload.js"></script>
<!-- 引用初始化JS -->
<script src="./static/js/initUpload.js"></script>
</body>
</html>